<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>khipupayment</name>
    <displayName><![CDATA[khipu]]></displayName>
    <version><![CDATA[4.0.0]]></version>
    <description><![CDATA[Pago usando khipu]]></description>
    <author><![CDATA[khipu]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
